FleetClients/Connected Services/FleetManagerServiceReference/fleetManager11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kingpin.Architecture" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kingpin.Architecture" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="AgvMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Automatic">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Manual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AgvMode" nillable="true" type="tns:AgvMode" />
  <xs:simpleType name="ExtendedDataFaultStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="Fault" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExtendedDataFaultStatus" nillable="true" type="tns:ExtendedDataFaultStatus" />
  <xs:simpleType name="FrozenState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Frozen" />
      <xs:enumeration value="Unfrozen" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FrozenState" nillable="true" type="tns:FrozenState" />
</xs:schema>