src/FleetClients.Core/Connected Services/FleetManagerServiceReference/FleetManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FleetManagerService_PublicAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFleetManagerService_PublicAPI_v2_0_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IFleetManagerService_PublicAPI_v2_0_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IFleetManagerService_PublicAPI_v2_0_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Controllers.Vehicles.Fleet" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Controllers.Vehicles.Architecture" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/GACore" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/GACore.Architecture" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_GetAPISemVer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAPISemVer" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_GetAPISemVer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAPISemVerResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_SubscriptionHeartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionHeartbeat" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_SubscriptionHeartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionHeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_GetKingpinDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKingpinDescription" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_GetKingpinDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKingpinDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_RequestFreeze_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestFreeze" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_RequestFreeze_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestFreezeResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_RequestUnfreeze_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestUnfreeze" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_RequestUnfreeze_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestUnfreezeResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_CreateVirtualVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateVirtualVehicle" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_CreateVirtualVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateVirtualVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_RemoveVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVehicle" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_RemoveVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_SetPose_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPose" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_SetPose_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPoseResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_ResetKingpin_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetKingpin" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_ResetKingpin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetKingpinResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_SetFleetState_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFleetState" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_SetFleetState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFleetStateResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_SetKingpinState_InputMessage">
    <wsdl:part name="parameters" element="tns:SetKingpinState" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_SetKingpinState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetKingpinStateResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_OnCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallback" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_PublicAPI_v2_0_OnCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallbackResponse" />
  </wsdl:message>
  <wsdl:portType name="IFleetManagerService_PublicAPI_v2_0">
    <wsdl:operation name="GetAPISemVer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAPISemVer" message="tns:IFleetManagerService_PublicAPI_v2_0_GetAPISemVer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAPISemVerResponse" message="tns:IFleetManagerService_PublicAPI_v2_0_GetAPISemVer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" message="tns:IFleetManagerService_PublicAPI_v2_0_SubscriptionHeartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeatResponse" message="tns:IFleetManagerService_PublicAPI_v2_0_SubscriptionHeartbeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKingpinDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/GetKingpinDescription" message="tns:IFleetManagerService_PublicAPI_v2_0_GetKingpinDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/GetKingpinDescriptionResponse" message="tns:IFleetManagerService_PublicAPI_v2_0_GetKingpinDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestFreeze">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/RequestFreeze" message="tns:IFleetManagerService_PublicAPI_v2_0_RequestFreeze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/RequestFreezeResponse" message="tns:IFleetManagerService_PublicAPI_v2_0_RequestFreeze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestUnfreeze">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/RequestUnfreeze" message="tns:IFleetManagerService_PublicAPI_v2_0_RequestUnfreeze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/RequestUnfreezeResponse" message="tns:IFleetManagerService_PublicAPI_v2_0_RequestUnfreeze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateVirtualVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/CreateVirtualVehicle" message="tns:IFleetManagerService_PublicAPI_v2_0_CreateVirtualVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/CreateVirtualVehicleResponse" message="tns:IFleetManagerService_PublicAPI_v2_0_CreateVirtualVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/RemoveVehicle" message="tns:IFleetManagerService_PublicAPI_v2_0_RemoveVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/RemoveVehicleResponse" message="tns:IFleetManagerService_PublicAPI_v2_0_RemoveVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPose">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/SetPose" message="tns:IFleetManagerService_PublicAPI_v2_0_SetPose_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/SetPoseResponse" message="tns:IFleetManagerService_PublicAPI_v2_0_SetPose_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetKingpin">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/ResetKingpin" message="tns:IFleetManagerService_PublicAPI_v2_0_ResetKingpin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/ResetKingpinResponse" message="tns:IFleetManagerService_PublicAPI_v2_0_ResetKingpin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFleetState">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/SetFleetState" message="tns:IFleetManagerService_PublicAPI_v2_0_SetFleetState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/SetFleetStateResponse" message="tns:IFleetManagerService_PublicAPI_v2_0_SetFleetState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetKingpinState">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/SetKingpinState" message="tns:IFleetManagerService_PublicAPI_v2_0_SetKingpinState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/SetKingpinStateResponse" message="tns:IFleetManagerService_PublicAPI_v2_0_SetKingpinState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/OnCallback" message="tns:IFleetManagerService_PublicAPI_v2_0_OnCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService_BaseAPI/OnCallbackResponse" message="tns:IFleetManagerService_PublicAPI_v2_0_OnCallback_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFleetManagerService_PublicAPI_v2_0" type="tns:IFleetManagerService_PublicAPI_v2_0">
    <wsp:PolicyReference URI="#NetTcpBinding_IFleetManagerService_PublicAPI_v2_0_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAPISemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAPISemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKingpinDescription">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/GetKingpinDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestFreeze">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/RequestFreeze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUnfreeze">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/RequestUnfreeze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVirtualVehicle">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/CreateVirtualVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveVehicle">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/RemoveVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPose">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/SetPose" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetKingpin">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/ResetKingpin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFleetState">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/SetFleetState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetKingpinState">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/SetKingpinState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IFleetManagerService_PublicAPI_v2_0" type="tns:IFleetManagerService_PublicAPI_v2_0">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IFleetManagerService_PublicAPI_v2_0_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAPISemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAPISemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKingpinDescription">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/GetKingpinDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestFreeze">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/RequestFreeze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUnfreeze">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/RequestUnfreeze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVirtualVehicle">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/CreateVirtualVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveVehicle">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/RemoveVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPose">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/SetPose" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetKingpin">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/ResetKingpin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFleetState">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/SetFleetState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetKingpinState">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/SetKingpinState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetNamedPipeBinding_IFleetManagerService_PublicAPI_v2_0" type="tns:IFleetManagerService_PublicAPI_v2_0">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IFleetManagerService_PublicAPI_v2_0_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetAPISemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAPISemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKingpinDescription">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/GetKingpinDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestFreeze">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/RequestFreeze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUnfreeze">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/RequestUnfreeze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVirtualVehicle">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/CreateVirtualVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveVehicle">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/RemoveVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPose">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/SetPose" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetKingpin">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/ResetKingpin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFleetState">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/SetFleetState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetKingpinState">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/SetKingpinState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService_BaseAPI/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FleetManagerService_PublicAPI">
    <wsdl:port name="NetTcpBinding_IFleetManagerService_PublicAPI_v2_0" binding="tns:NetTcpBinding_IFleetManagerService_PublicAPI_v2_0">
      <soap12:address location="net.tcp://127.0.0.1:41917/fleetManager.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:41917/fleetManager.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IFleetManagerService_PublicAPI_v2_0" binding="tns:WSDualHttpBinding_IFleetManagerService_PublicAPI_v2_0">
      <soap12:address location="http://127.0.0.1:41916/fleetManager.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:41916/fleetManager.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_IFleetManagerService_PublicAPI_v2_0" binding="tns:NetNamedPipeBinding_IFleetManagerService_PublicAPI_v2_0">
      <soap12:address location="net.pipe://localhost/fleetManager.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/fleetManager.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>martin.davies@automation1.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>