src/FleetClients.Core/Connected Services/FleetManagerServiceReference/fleetManager9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GACore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GACore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/GACore.Architecture" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKingpinStateData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KingpinStateData" nillable="true" type="tns:KingpinStateData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKingpinStateData" nillable="true" type="tns:ArrayOfKingpinStateData" />
  <xs:complexType name="KingpinStateData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="AgvMode" type="q1:AgvMode" />
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BatteryChargePercentage" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="CurrentMovementType" type="q2:MovementType" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="DynamicLimiterStatus" type="q3:DynamicLimiterStatus" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="ExtendedDataFaultStatus" type="q4:ExtendedDataFaultStatus" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="FrozenState" type="q5:FrozenState" />
      <xs:element minOccurs="0" name="Heading" type="xs:float" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="IPAddress" nillable="true" type="q6:IPAddress" />
      <xs:element minOccurs="0" name="IsCharging" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVirtual" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastCompletedInstructionId" type="xs:int" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="NavigationStatus" type="q7:NavigationStatus" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="PositionControlStatus" type="q8:PositionControlStatus" />
      <xs:element minOccurs="0" name="Speed" type="xs:double" />
      <xs:element minOccurs="0" name="StateCastExtendedData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Stationary" type="ser:duration" />
      <xs:element minOccurs="0" name="Tick" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="WaypointLastId" type="xs:int" />
      <xs:element minOccurs="0" name="WaypointNextId" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:float" />
      <xs:element minOccurs="0" name="Y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KingpinStateData" nillable="true" type="tns:KingpinStateData" />
</xs:schema>