src/FleetClients.Core/Connected Services/FleetManagerServiceReference/fleetManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ServiceCallResultDtoOfSemVerDtoroFpNV7u">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceCallResultDtoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SemVerDto" Namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceCallResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:SemVerDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceCallResultDtoOfSemVerDtoroFpNV7u" nillable="true" type="tns:ServiceCallResultDtoOfSemVerDtoroFpNV7u" />
  <xs:complexType name="ServiceCallResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionStackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCallResultDto" nillable="true" type="tns:ServiceCallResultDto" />
  <xs:complexType name="SemVerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Major" type="xs:int" />
      <xs:element minOccurs="0" name="Minor" type="xs:int" />
      <xs:element minOccurs="0" name="Patch" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SemVerDto" nillable="true" type="tns:SemVerDto" />
  <xs:complexType name="ServiceCallResultDtoOfXElementg0J7U6Qr">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceCallResultDtoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="XElement" Namespace="http://schemas.datacontract.org/2004/07/System.Xml.Linq" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceCallResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceCallResultDtoOfXElementg0J7U6Qr" nillable="true" type="tns:ServiceCallResultDtoOfXElementg0J7U6Qr" />
  <xs:complexType name="PoseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Heading" type="xs:double" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PoseDto" nillable="true" type="tns:PoseDto" />
  <xs:complexType name="FleetStateDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="FrozenState" type="q1:FrozenState" />
      <xs:element minOccurs="0" name="KingpinStates" nillable="true" type="tns:ArrayOfKingpinStateDto" />
      <xs:element minOccurs="0" name="Tick" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FleetStateDto" nillable="true" type="tns:FleetStateDto" />
  <xs:complexType name="ArrayOfKingpinStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KingpinStateDto" nillable="true" type="tns:KingpinStateDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKingpinStateDto" nillable="true" type="tns:ArrayOfKingpinStateDto" />
  <xs:complexType name="KingpinStateDto">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="AgvMode" type="q2:AgvMode" />
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BatteryChargePercentage" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="CurrentMovementType" type="q3:MovementType" />
      <xs:element minOccurs="0" name="CurrentWaypointExtendedData" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="DynamicLimiterStatus" type="q4:DynamicLimiterStatus" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="ExtendedDataFaultStatus" type="q5:ExtendedDataFaultStatus" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="FrozenState" type="q6:FrozenState" />
      <xs:element minOccurs="0" name="Heading" type="xs:float" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="IPAddress" nillable="true" type="q7:IPAddress" />
      <xs:element minOccurs="0" name="IsCharging" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVirtual" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastCompletedInstructionId" type="xs:int" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="NavigationStatus" type="q8:NavigationStatus" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="PositionControlStatus" type="q9:PositionControlStatus" />
      <xs:element minOccurs="0" name="Speed" type="xs:double" />
      <xs:element minOccurs="0" name="StateCastExtendedData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Stationary" type="ser:duration" />
      <xs:element minOccurs="0" name="Tick" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="WaypointLastId" type="xs:int" />
      <xs:element minOccurs="0" name="WaypointNextId" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:float" />
      <xs:element minOccurs="0" name="Y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KingpinStateDto" nillable="true" type="tns:KingpinStateDto" />
</xs:schema>