src/FleetClients.Core/Connected Services/FleetManagerServiceReference/fleetManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" />
  <xs:element name="GetAPISemVer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPISemVerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="GetAPISemVerResult" nillable="true" type="q1:ServiceCallResultDtoOfSemVerDtoroFpNV7u" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscriptionHeartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscriptionHeartbeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKingpinDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q3:IPAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKingpinDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="GetKingpinDescriptionResult" nillable="true" type="q4:ServiceCallResultDtoOfXElementg0J7U6Qr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFrozenState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="frozenState" type="q5:FrozenState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFrozenStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="SetFrozenStateResult" nillable="true" type="q6:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVirtualVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q7:IPAddress" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="pose" nillable="true" type="q8:PoseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVirtualVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="CreateVirtualVehicleResult" nillable="true" type="q9:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q10:IPAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="RemoveVehicleResult" nillable="true" type="q11:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q12:IPAddress" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="pose" nillable="true" type="q13:PoseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPoseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="SetPoseResult" nillable="true" type="q14:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFleetState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="controllerState" type="q15:VehicleControllerState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFleetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="SetFleetStateResult" nillable="true" type="q16:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKingpinState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q17:IPAddress" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="controllerState" type="q18:VehicleControllerState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKingpinStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="SetKingpinStateResult" nillable="true" type="q19:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="callbackObject" nillable="true" type="q20:FleetStateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>